   
   header, footer{
      background-color: #003964;
      height:100%;
      width: 100%;
      display: inline-block;
   }

   .findAStore{
      text-align: center;
      color:#eff3f7;
      line-height:3px;
   }

   .searchIcon{
      height: 7%;
      width: 7%;
      object-fit: contain;
      padding: .4em  .5em;
      border-top-right-radius: 25%;
      border-bottom-right-radius: 25%;
      background-color:#f88824;}
   
   .searchImg{
      text-align: center;
      block-size:auto;
      margin: 0;
      vertical-align: bottom;
      height:fit-content;
      padding-bottom: 15%;
   }

   .searchTxt{
      height: 2.6em;
      width: 12em;
      vertical-align: top;
      position: relative;
      left: .3rem;
      border:none;
      border-bottom-left-radius: 10%;
      border-top-left-radius:10%;
      }
 
    /* Start of Menu Button  */

   button#hamburgerBtn{
      background:#f7b129;
      border:none;
      color:#003964;
      font-size: 3.5rem;
      cursor: pointer;
      padding:0 30px 0 2vw;
      text-align: left;
      margin-bottom: 0;
   }

   .menuBtn{
      background:#f7b129;
   }

   nav ul{
      margin: 0;
      padding: 0;
   }

   nav li {
      list-style-type:none;
   }
   
   #dog{
      background-color:#f85c62;
   }
   
   #cat{
      background-color:#074980;
   }
   
   #bird{
      background-color: #f88824;
   }
   
   #fish{
      background-color: #3f9ce0;
   }
   
   #reptile{
      background-color: #39b173;
   }
   

   nav a{ 
      display:block;
      padding: .8rem 0;
      color:#eff3f7;
      text-align: center;
      text-decoration: none;}

   nav a:hover{
      background-color: rgba(0,0,0,0.2);}

   nav ul.open{
         display: block;}

   nav ul {
         display: none;} 
   
   nav li.active{
      background-color: rgba(0,0,0,0.5);
   }

   /* End of Menu Button */
   
   .typeofpet0{
    display:grid; 
   grid-template-areas:
   "puppyHeroTxt"
   "puppyHeroMobl"
   "packOfDogsMobl"
   "soloCat"
   "goldFish"
   "talkingBird"
   "salamander"
   "doggoText"
   "bullDog"
   "dressdCat1"
   "dressdCat2"
   "dressdCat3"
   "dressdCat4";}

header{grid-area:header;}
.companyname {grid-area:companyname;}
.puppyHeroTxt{grid-area:puppyHeroTxt;}
 #puppyHeroPC{grid-area:puppyHeroPC;}
 #puppyHeroMobl{grid-area:puppyHeroMobl;}
 #packOfDogsMobl{grid-area:packOfDogsMobl;}
 #packOfDogsPC{grid-area:packOfDogsPC;}
 #soloCat{grid-area:soloCat;}
 #goldFish{grid-area:goldfish;}
 #talkingBird{grid-area:talkingBird;}
 #salamander{grid-area:salamander;}
 #bullDog{grid-area:bullDog;}
 .doggoText{grid-area: doggoText;}
 .dressdCatBx{grid-area: dressdCatBx;}
 .dressdCat1{grid-area: dressdCat1;}
 .dressdCat2{grid-area: dressdCat2;}
 .dressdCat3{grid-area: dressdCat3;}
 .dressdCat4{grid-area: dressdCat4;}
#pawscityimg{grid-area: pawscityimg;}  


 .companyname{
   display: grid;
   background-color:#074980;
   grid-area:companyname;
   height:10rem;
   padding-bottom:50px;
} 

 #puppyHeroMobl{
   display: flex;
   grid-area:puppyHeroMobl;
   zoom:200%;
   } 

.puppyHeroTxt{
   position: relative;
   display: grid;
   grid-area:puppyHeroTxt;
   color: #003964;
   width:100%;
   height: fit-content;
   background-color: #f7b129;
   margin: 0;
}
/* all I did was add the pictures to the .puppyHeroTxt div 
and make the h1 and p tags position absolute.  */
.puppyHeroTxt h1{
   position: absolute;
}
.puppyHeroTxt p {
   position:absolute;
   padding-top:60%;
   word-wrap: break-word;
}

#puppyHeroPC{
   display: none;
}

 #packOfDogsMobl{
   grid-area:packOfDogsMobl;
   zoom: 150%;
   display: flex;
}

#packOfDogsPC{
   display:none;
}

#soloCat{
   grid-area:soloCat;
   object-fit: fill;
}

#goldFish{
   grid-area:goldFish;
}

 #talkingBird{
   grid-area:talkingBird;
} 

#salamander{
   grid-area:salamander;
}

.doggoText{
   display: grid;
   background-color:#074980;
   width: 100%;
   height: 10rem;
   color:#eff3f7;
} 

#bullDog{
   grid-area:bullDog;
   background-color: #074980;
}

.dressdCatBx{
   display: grid;
   grid-area: dressdCatBx;
   margin: 0 auto;
   width:fit-content;
   height: fit-content;}

.productInfo{
   height:3rem;
   width:2rem;
   background-color: #39b173;
   }


.logoImg{
   height: 60%;
   width: 60%;
   object-fit: contain;
   margin: 0 auto;
   padding-top: 7%;
}

#pawscityimg{ 
   grid-area: pawscityimg;
   width: 100%;
   margin:0 auto;
 }


.typeofpet{
   display: grid;
   max-width: 100%; 
   margin:0  auto; 
}

 @media screen and (min-width:700px) {
   header, footer{
      background-color: #003964;
      height:100%;
      width: 100%;
   }

   .searchTxt{
      height: 2.6em;
      width: 12em;
      vertical-align: top;
      position: relative;
      left: .3rem;
      border:none;
      border-bottom-left-radius: 10%;
      border-top-left-radius:10%;
      }

   .companyname{
      display: grid;
      background-color:#074980;
      grid-area:companyname;
      height:4rem;
      padding-bottom:50px;
   } 

   .searchImg{
      display: none;
      height:fit-content;
      }
   
   .logoImg{
      height: 25%;
      width:fit-content;
      object-fit:contain;
      padding-top: 1.8%;
      padding-left:2%;
      margin-left: 0;
   }
      
      #puppyHeroMobl{
         display:none;
      }
      #puppyHeroPC{
         display: flex;
      }
      #packOfDogsPC{
         display: none;
      }
      #packOfDogsMobl{
         display:flex;
      }

      .typeofpet0{
      display: grid;
      grid-template-areas:
      "puppyHeroTxt    puppyHeroTxt"
      "puppyHeroPC     puppyHeroPC" 
      "packOfDogsMobl      soloCat"
      "goldFish        talkingBird"
      "salamander      salamander"
      "doggoText       doggoText"
      "bullDog         bullDog";}
   }


@media screen and (min-width:1080px) {
   header, footer{
      background-color: #003964;
      height:100%;
      width: 100%;
      display: inline-block;
   }


   
   .puppyHeroTxt  h1{
      display:grid;
      grid-area: puppyHeroTxt;
   }

   .puppyHeroTxt p {
      position: absolute;
      padding-top:60%;
      
   }
   
   #soloCat{
      margin-top: 2%;
      height: 800px;
      width: 600px;
   }

   #packOfDogsPC{
      width: 1200px;
      height: 800px;
      margin-top: 1%;
   }

   .demoCat{
      width: 300px;
      height: 300px;
      margin: 0 auto;
   }
   #puppyHeroMobl{
      display:none;
   }
   #puppyHeroPC{
      display: flex;
   }
   #packOfDogsMobl{
      display: none;
   }
   #packOfDogsPC{
      display: flex;
   }
   .typeofpet0{
      display: grid;
      grid-template-areas:
      "puppyHeroTxt    puppyHeroTxt    puppyHeroTxt"
      "puppyHeroPC     puppyHeroPC     puppyHeroPC" 
      "packOfDogsPC    packOfDogsPC      soloCat"
      "goldFish        talkingBird     salamander"
      "doggoText       doggoText        doggoText"
      "bullDog         bullDog          bullDog"
      "pawscityimg     pawscityimg     pawscityimg";}
   }
 
   /* #banner{
   display: grid;
   height:300px;
   background-color: blueviolet;} */