   
   header, footer{
      background-color: #003964;
      height:100%;
      width: 100%;
      display: inline-block;
   }
   
 
    /* Start of Menu Button  */

   button#hamburgerBtn{
      background:#f7b129;
      border:none;
      color:#003964;
      font-size: 4rem;
      cursor: pointer;
      padding:0 30px 0 2vw;
      text-align: left;
      width:100%;
   }

   nav ul{
      margin: 0;
      padding: 0;
   }

   nav li {
      list-style-type:none;
   }
   
   #dog{
      background-color:#f85c62;
   }
   
   #cat{
      background-color:#074980;
   }
   
   #bird{
      background-color: #f88824;
   }
   
   #fish{
      background-color: #3f9ce0;
   }
   
   #reptile{
      background-color: #39b173;
   }
   

   nav a{ 
      display:block;
      padding: .8rem 0;
      color:#eff3f7;
      text-align: center;
      text-decoration: none;}

   nav a:hover{
      background-color: rgba(0,0,0,0.2);}

   nav ul.open{
         display: block;}

   nav ul {
         display: none;} 
   
   nav li.active{
      background-color: rgba(0,0,0,0.5);
   }

   /* End of Menu Button */
   
   .typeofpet0{
    display:grid; 
   grid-template-areas:
   "puppyHeroMobl"
   "packOfDogsMobl"
   "soloCat"
   "goldFish"
   "talkingBird"
   "salamander"
   "doggoText"
   "bullDog";}

 
header{grid-template-areas:header;}
  .companyname {grid-area:companyname;}
 #puppyHeroPC{grid-area:puppyHeroPC;}
 #puppyHeroMobl{grid-area:puppyHeroMobl;}
 #packOfDogsMobl{grid-area:packOfDogsMobl;}
 #packOfDogsPC{grid-area:packOfDogsPC;}
 #soloCat{grid-area:soloCat;}
 #goldFish{grid-area:goldfish;}
 #talkingBird{grid-area:talkingBird;}
 #salamander{grid-area:salamander;}
 #bullDog{grid-area:bullDog;}
 .doggoText{grid-area: doggoText;}
#pawscityimg{grid-area: pawscityimg;}  


 .companyname{
   display: grid;
   background-color:#074980;
   grid-area:companyname;
} 

 #puppyHeroMobl{
   display: flex;
   grid-area:puppyHeroMobl;
   zoom:200%;
   } 

#puppyHeroPC{
   display: none;
}

 #packOfDogsMobl{
   grid-area:packOfDogsMobl;
   zoom: 150%;
   display: flex;
}

#packOfDogsPC{
   display:none;
}

#soloCat{
   grid-area:soloCat;
}

#goldFish{
   grid-area:goldFish;
}

 #talkingBird{
   grid-area:talkingBird;
} 

#salamander{
   grid-area:salamander;
}

.doggoText{
   display: grid;
   background-color: black;
} 

#bullDog{
   grid-area:bullDog;
   background-color: #074980;
}

.logoImg{
   object-fit: scale-down;
}

#pawscityimg{ 
   grid-area: pawscityimg;
   width: 100%;
   margin:0 auto;
 }


.typeofpet{
   display: grid;
   max-width: 100%; 
   margin:0  auto; 
}

 @media screen and (min-width:700px) {
      #puppyHeroMobl{
         display:none;
      }
      #puppyHeroPC{
         display: flex;
      }
      #packOfDogsPC{
         display: none;
      }
      #packOfDogsMobl{
         display:flex;
      }

      .typeofpet0{
      display: grid;
      grid-template-areas:
      "puppyHeroPC     puppyHeroPC" 
      "packOfDogsMobl      soloCat"
      "goldFish        talkingBird"
      "salamander      salamander"
      "bullDog         bullDog";}
   }


@media screen and (min-width:1080px) {
   #puppyHeroMobl{
      display:none;
   }
   #puppyHeroPC{
      display: flex;
   }
   #packOfDogsMobl{
      display: none;
   }
   #packOfDogsPC{
      display: flex;
   }
   .typeofpet0{
      display: grid;
      grid-template-areas:
      "puppyHeroPC     puppyHeroPC     puppyHeroPC" 
      "packOfDogsPC    packOfDogsPC      soloCat"
      "goldFish        talkingBird     salamander"
      "bullDog         bullDog          bullDog"
      "pawscityimg     pawscityimg     pawscityimg";}
   }
 
   /* @media screen and (min-width:700px) {
      #puppyHeroMobl{
         display:none;
      }
      #puppyHeroPC{
         display: flex;
      }
      #packOfDogsPC{
         display: none;
      }
      #packOfDogsMobl{
         display:flex;
      }

      .typeofpet0{
      display: grid;
      grid-template-areas:
      "puppyHeroPC     puppyHeroPC" 
      "packOfDogsMobl      soloCat"
      "goldFish        talkingBird"
      "salamander      salamander"
      "bullDog         bullDog";}
   } */

   /* #banner{
   display: grid;
   height:300px;
   background-color: blueviolet;} */